.event {
    padding: 60px 0;
    text-align: center;

    &__details {
        margin-bottom: 20px;

        &__title {
            font-size: 32px;
            margin-bottom: 10px;
        }

        &__description {
            font-size: 18px;
            color: #555;
        }
    }

    &__img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
}
