.hero {
    background: url('../images/party.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px 0;
    text-align: center;
    color: #fff; // Todos os textos dentro do .hero serão brancos

    &__logo {
        max-width: 150px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .infos-bar {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff; // Todos os textos dentro do .infos-bar serão brancos

        &__infos {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            &__item {
                margin-bottom: 10px;
                text-align: center;

                b {
                    display: block;
                    font-weight: bold;
                }
            }
        }
    }
}
